/* for Desktop */
@media only screen and (min-width: 992px){
	nav {
		background-color: white;
	}
	nav ul li a{
		color: grey;
	}
	#banner {
		position: relative;
		margin-left: 0;
	}
	#banner h1 {
		position: absolute;
		top: 90px;
		left: 60px;
		color: white;
		font-size: 250%;
	}
	#banner p {
		position: absolute;
		top: 150px;
		left: 60px;
		color: white;
		font-size: 18px;
	}
	#banner img {
		max-width: 100%;
		height: auto;
	}
	.col {
		display: inline-block;
		width: 28%;
		margin-left: 4%;
	}
	main {
		background-color: #efefef;
		margin-top: -25px;
		padding-top: 22px;
	}
	footer {
		background-color: #f7f7f7;
	}

}